apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: test
  name: test-nginx
spec:
  replicas: 2
  template:
    metadata:
      labels:
        run: test-nginx
    spec:
      containers:
        name: test-nginx
        resources:
          limits:
            cpu: 100m
            memory: 64Mi
          requests:
            cpu: 50m
            memory: 32Mi
