apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: test
  name: test-nginx
spec:
  selector:
    matchLabels:
      app: test-nginx
  replicas: 2
  template:
    metadata:
      labels:
        app: test-nginx
    spec:
      containers:
        - name: nginx
            image: nginx:1.14.2
            ports:
              - containerPort: 80
