apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonAnnotations:
  note: Hello, I am production!!
bases:
- ../../base

patchesStrategicMerge:
  - deployment.yaml
  - deployment2.yaml